.editor-class {
  background: #1a1932;
  border: 1px solid #343e50;
  border-top: 0;
  height: 150px;
  border-radius: 0 0 6px 6px;
  padding: 0 12px;
}
.toolbar-class {
  background: #7879a9;
  margin-bottom: 0;
  border: 1px solid #343e50;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  .rdw-option-wrapper,
  .rdw-dropdown-selectedtext {
    background: none;
    text-decoration: none;
    border: 0;
    padding: 2px 0;
    min-width: 20px;
    height: 18px;
    border-radius: 4px;
    margin: 0 2px;
    box-shadow: none !important;
    span {
      color: black;
    }
  }
  .rdw-dropdown-wrapper {
    background: none;
    height: auto;
    border: 0;
    border-radius: 4px;
  }
  .public-DraftStyleDefault-block {
    height: 150px !important;
  }
}
