@import "../../../../styles/variables";

.productInfo {
  &-inputs {
    .MuiOutlinedInput-root {
      padding-right: 8px !important;
    }
  }

  &-toggle {
    &__active.Mui-selected {
      background: $green2 !important;

      p {
        color: $black9 !important;
      }
    }

    &__draft.Mui-selected {
      background: $red3 !important;

      p {
        color: $white1 !important;
      }
    }

    p {
      text-transform: capitalize !important;
    }

    .MuiToggleButton-root {
      line-height: 1.4 !important;
    }
  }

  &-inputs {
    .MuiOutlinedInput-root {
      padding-right: 6px !important;
      padding-left: 6px !important;
    }

    .MuiInputAdornment-outlined {
      p {
        font-size: 13px !important;
        color: #c8d8ff !important;
        background: #27283f !important;
        padding: 2px 10px;
        border-radius: 4px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .MuiOutlinedInput-input {
      text-align: center !important;
    }
  }

  .primary-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(303.01deg,
        rgba(89, 97, 248, 0.2) -4.4%,
        rgba(242, 217, 247, 0.2) 111.29%);
    border-radius: 5px;
    border: 0;
    color: $white1;
    text-decoration: none;
    min-width: max-content;
  }
}

.mediaToolCheckBox {
  position: relative !important;
  top: 55px;
}

.mediaToolDot {
  position: relative !important;
  bottom: 35px;
}
