.rst__expandButton {
  //   background: #15142a
  //     url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjgiIGZpbGw9IiNGRkYiLz48ZyBzdHJva2U9IiM5ODk4OTgiIHN0cm9rZS13aWR0aD0iMS45IiA+PHBhdGggZD0iTTQuNSA5aDkiLz48cGF0aCBkPSJNOSA0LjV2OSIvPjwvZz4KPC9zdmc+)
  //     no-repeat center;
}
.rst__rowContents {
  //   color: #5c6d8e !important;
  color: #c8d8ff !important;
  background: #15142a;
  border: 1px solid #38395c;
  border-radius: 0 4px 4px 0;
  box-shadow: none;
}
.rst__rowTitle {
  font-weight: 400;
  font-size: 13px;
}
