// * COLORS

$black1: #000000;
$black2: #0e0d21;
$black3: #110f26;
$black4: #191c24;
$black5: #0f1015;
$black6: #1c1f39;
$black7: #1a1b30;
$black8: #191732;
$black8: #202837;
$black9: #15142a;
$black10: #27283f;

$white1: #ffffff;
$grey1: #5b607c;
$grey2: #292d3a;
$grey3: rgb(108, 114, 147);
$grey4: #414c65;
$grey5: #38395c;
$grey6: #5c6d8e;
$grey7: #717898;
$grey8: #343e50;
$lightBlue: #c8d8ff;
$blue1: #96abde;
$blue2: #6e8dd7;
$green1: #a6faaf;
$green2: #1ad598;
$red1: #f67e80;
$red2: #ff6c6f;
$red3: #df6264;

$purple1: #8f5fe8;
$yellow1: #ffab00;
// $green1: #00d25b;
// $blue1: #0090e7;
// $purple: #8f5fe8;
// $blue1: #0d80d8;

// $black1: #000000;
// $black2: #313132;
// $black3: #3e434e;
// $white1: #fff;
// $white2: #fffff7;
// $grey1: #989ba0;
// $grey2: #e5e5e5;

// * FONTS
$font0: 8px;
$font1: 10px;
$font2: 13px;
$font3: 14px;
$font4: 15px;
$font5: 16px;
$font6: 18px;
$font7: 20px;
$font8: 22px;
$font9: 26px;
$font10: 30px;
$font11: 36px;
$font12: 40px;
$font13: 45px;
$font14: 50px;
