@import "../../../styles/global";

.row-selected-chip {
  background: $black6;
  width: auto;
  border-radius: 5px;
}

.table {
  &-status {
    background: $green1;
    font-weight: 600;
  }
}

.product {
  &-button__box {
    background: $black6;
    border-radius: 5px;
  }
}

.columns {
  .MuiTypography-root {
    font-size: $font2;
    color: $lightBlue;
  }
}

.filter-padding {
  margin-left: 15rem;
}

.table-rows {
  p {
    font-size: $font2 !important;
  }
}

.filter-buttons {
  // background: linear-gradient(180deg, rgba(17, 15, 38, 0) 0%, #110f26 47.98%);
  position: absolute;
  bottom: 0;
  // left: 0;
  width: 100%;
  // margin-bottom: -24px;
}
