@import "../../styles/global";

.app-navbar {
  background: $black2 !important;
  box-shadow: none !important;
}
.toggle-icon {
  // background-color: $white1 !important;
  border: 1px solid $grey1 !important;
  margin-left: -1rem;
}

.profile-button {
  border-radius: 5px !important;
}
