@import "./styles/global";

.main-box {
  min-height: calc(100vh - 54px);
  margin-top: 3.4rem;
  // background: radial-gradient(
  //   circle,
  //   rgba(52, 29, 96, 1) 16%,
  //   RGBA(17, 15, 38, 1) 100%
  // );
  background: $black2;
}

.app-sidenav {
  .MuiPaper-root {
    background: $black2 !important;
    border: 0 !important;
  }
}

.textrarea {
  background: transparent !important;
}

.button {
  &-dark {
    border: 1px solid $black3;
    background: $black3;
    border-radius: 100px;
    color: $white1;
    text-decoration: none;
    min-width: max-content;
    &:hover {
      background: $black2;
    }
    &:disabled {
      background: $grey1;
      cursor: not-allowed;
    }
  }
  &-grey {
    border: 1px solid $black13;
    background: $black13;
    border-radius: 5px;
    color: $white1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    min-width: max-content;
    &:hover {
      background: $black16;
      border: 1px solid $black16;
    }
    &:disabled {
      background: $grey1;
      cursor: not-allowed;
    }
  }
  &-gradient {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      165.69deg,
      rgba(104, 108, 248, 0.7) 4.49%,
      rgba(236, 171, 241, 0.7) 113.71%
    );
    border-radius: 5px;
    border: 0;
    color: $white1;
    text-decoration: none;
    min-width: max-content;
    &:hover {
      background: $grey6;
      color: $white1;
      background: linear-gradient(
        165.69deg,
        rgba(104, 108, 248, 0.9) 4.49%,
        rgba(236, 171, 241, 0.9) 113.71%
      );
    }
    &:disabled {
      background: $grey1;
      cursor: not-allowed;
    }
  }
  &-grey-gradient {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      303.01deg,
      rgba(89, 97, 248, 0.2) -4.4%,
      rgba(242, 217, 247, 0.2) 111.29%
    );
    border-radius: 5px;
    border: 0;
    color: $white1;
    text-decoration: none;
    min-width: max-content;
    &:hover {
      background: $grey6;
      color: $white1;
    }
    &:disabled {
      background: $grey1;
      cursor: not-allowed;
    }
  }
  &-red-outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 5px;
    border: 1px solid $red2;
    color: $red2;
    text-decoration: none;
    min-width: max-content;
    &:hover {
      background: $red2;
      color: $black1;
    }
    &:disabled {
      background: $grey1;
      cursor: not-allowed;
    }
  }
  &-lightBlue-outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 5px;
    // border: 0;
    border: 1px solid $lightBlue;
    color: $lightBlue;
    text-decoration: none;
    min-width: max-content;
    &:hover {
      background: $lightBlue;
      color: $black1;
    }
    &:disabled {
      background: $grey1;
      cursor: not-allowed;
    }
  }
  &-transparent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 5px;
    border: 0;
    outline: 1px solid transparent;
    color: $lightBlue;
    text-decoration: none;
    min-width: max-content;
    &:hover {
      background: rgba(200, 216, 255, 0.05);
      color: $black1;
    }
    &:disabled {
      background: $grey1;
      cursor: not-allowed;
    }
  }
  &-border {
    background-color: transparent;
    border: 1px solid $black1;
    border-radius: 5px;
    text-decoration: none;
    // font-size: $font2;
    // font-weight: 500;
  }
}

.text-lightBlue {
  color: $lightBlue;
}

.text-blue-gradient {
  background: linear-gradient(303.01deg, #5961f8 -4.4%, #f2d9f7 111.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.MuiPaper-root {
  background: $black13 !important;
  border-radius: 8px !important;
  // border: 1px solid $grey5;
}
.bg-black-2 {
  background: $black2 !important;
}
.bg-black-9 {
  background: $black9 !important;
}
.bg-black-11 {
  background: $black11 !important;
}
.bg-black-10 {
  background: $black10 !important;
}
.bg-black-15 {
  background: $black15 !important;
}
.bg-black-18 {
  background: $black18 !important;
}

.tabs {
  .MuiTabs-indicator {
    background: linear-gradient(
      303.01deg,
      #5961f8 -4.4%,
      #f2d9f7 111.29%
    ) !important;
    border-radius: 6px 6px 0px 0px !important;
    height: 5px !important;
  }
  .MuiTab-root {
    font-size: $font3 !important;
    text-transform: capitalize !important;
    color: $grey6;
  }
  .MuiTab-root.Mui-selected {
    color: $lightBlue !important;
  }
  &-country {
    background: $black13;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 7.5px 0 0;
    border-left: 1px solid $grey5;
    // border-bottom: 1px solid $grey5;
  }
  &-header-box {
    border-bottom: 1px solid $grey5;
  }
}

.border-grey-5 {
  border: 1px solid $grey5;
}
.border-grey-8 {
  border: 1px solid $grey8;
}

.text-grey-6 {
  color: $grey6;
}
.text-grey-7 {
  color: $grey7;
}
.text-green-2 {
  color: $green2;
}
.text-red-4 {
  color: $red4;
}
.text-lightBlue {
  color: $lightBlue;
}
.text-blue-1 {
  color: $blue1;
}
.text-black-18 {
  color: $black18;
}

.MuiPopover-paper {
  border: 1px solid $grey5;
  padding: 0 0.4rem;
  margin-top: 0.3rem;
  background-color: $black13 !important;
  border-radius: 8px !important;
  box-shadow: none !important;
}

.popover-large {
  padding: 2rem !important;
}

.MuiTableHead-root {
  background: $black13;
}

.MuiTableCell-root {
  border-bottom: 0 !important;
  margin-bottom: 1rem;
}

.hr-grey-6 {
  border: 0;
  border-bottom: 1px solid $grey6;
  height: 0;
}
.hr-grey-6:not([size]) {
  height: 0 !important;
}

.border-grey-bottom {
  border-bottom: 1px solid #36425a;
  opacity: 50%;
}
.border-grey-top {
  border-top: 1px solid #36425a;
  // opacity: 50%;
}

.table-grey-bottom {
  border-bottom: 1px solid #36425a;
  // opacity: 10%;
}
.table-grey-top {
  border-top: 1px solid #36425a;
}

.text-red-1 {
  color: $red1;
}

.custom-radio-buttons {
  //   .MuiFormControlLabel-root {
  //     border: 1px solid $black1;
  //     padding: 4px 12px;
  //   }

  .chips {
    .MuiChip-root {
      border-radius: 0 !important;
    }
  }
  .MuiRadio-root {
    display: none !important;
  }

  .radio-buttons {
    // width: 45px;
    // height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 4px !important;
    margin-right: 4px !important;
    border: 1px solid $grey6 !important;
    color: $grey6 !important;
    transition: 0.1s all ease-in;
    padding: 4px;
    .MuiFormControlLabel-label {
      font-size: $font2 !important;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  .active {
    background-color: $grey6 !important;
    color: $black2 !important;
    border: 1px solid $grey6 !important;
  }
}

.text-blue-2 {
  color: $blue2;
}

input,
textarea,
.MuiSelect-select,
.MuiMenuItem-root {
  font-size: 13px !important;
  color: $lightBlue !important;
  border-radius: 4px !important;
  &::placeholder {
    font-size: 13px;
    color: $grey6 !important;
  }
  &:focus {
    // border-color: #719ece;
    // box-shadow: 0 0 10px #719ece;
  }
}

.toggle {
  .Mui-selected {
    background: linear-gradient(303.01deg, #3d3f92 -4.4%, #7a6e91 111.29%);
    // background: linear-gradient(
    //   303.01deg,
    //   rgba(89, 97, 248, 0.2) -4.4%,
    //   rgba(242, 217, 247, 0.2) 111.29%
    // );
    p {
      color: $lightBlue !important;
    }
  }
  p {
    text-transform: capitalize !important;
  }
  // .MuiToggleButton-root:hover {
  //   background: linear-gradient(
  //     303.01deg,
  //     #2f2e69 -4.4%,
  //     #514969 111.29%
  //   ) !important;
  // }
}

.productDetails-toggle {
  .Mui-selected {
    background: linear-gradient(
      303.01deg,
      #2f2e69 -4.4%,
      #514969 111.29%
    ) !important;
    // background: $grey9 !important;
    // background: $black18 !important;
    // background: linear-gradient(
    //   303.01deg,
    //   rgba(89, 97, 248, 0.2) -4.4%,
    //   rgba(242, 217, 247, 0.2) 111.29%
    // );
    p {
      color: $lightBlue !important;
    }
  }
  p {
    text-transform: capitalize !important;
  }
  // .MuiToggleButton-root:hover {
  //   background: linear-gradient(
  //     303.01deg,
  //     #2f2e69 -4.4%,
  //     #514969 111.29%
  //   ) !important;
  // }
}

.MuiSelect-select {
  padding: 6.5px 14px !important;
}

.MuiAppBar-root {
  box-shadow: none !important;
  background: $black2 !important;
}

.fw-600 {
  font-weight: 600 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}

.rounded-8 {
  border-radius: 8px;
}
.rounded-4 {
  border-radius: 4px;
}

.font2 {
  font-size: $font2;
}

textarea {
  border: 0 !important;
  border: 1px solid $grey5 !important;
  outline: none !important;
}

.hover-back {
  transition: 0.1s all ease-in;
  &:hover {
    background: $black16;

    transition: 0.1s all ease-in;
  }
}
.hover-back-transparent {
  transition: 0.1s all ease-in;
  &:hover {
    background: rgba(200, 216, 255, 0.05);

    transition: 0.1s all ease-in;
  }
}

.table-pagination {
  .MuiTablePagination-select {
    padding-right: 24px !important;
  }
  p {
    color: $lightBlue;
    font-size: $font2;
  }
}

// * TABLE ICONS
.MuiTableSortLabel-icon {
  color: $lightBlue !important;
}

.MuiTablePagination-actions {
  svg {
    color: $lightBlue !important;
  }
}

.bg-black-13 {
  background: $black13;
}

.MuiTableRow-root.Mui-selected {
  background-color: $black16 !important;
}

.MuiTableRow-hover:hover {
  background-color: $black16 !important;
}

.MuiCheckbox-root.Mui-checked {
  color: $lightBlue !important;
}
.MuiCheckbox-indeterminate {
  color: $lightBlue !important;
}

.MuiAutocomplete-root {
  border-radius: 4px;
}
// .MuiAutocomplete-root.Mui-focused {
//   fieldset {
//     bordercolor: red;
//   }
//   // outline: 5px solid red;
// }

// .Mui-focused.MuiOutlinedInput-notchedOutline {
//   border: "1px solid #c8d8ff";
// }

// .autocomplete-padding {
//   padding: 0.1rem 0.3rem;
// }

.MuiFormControl-root {
  border-radius: 4px;
}

// * ICON BUTTON HOVER
.MuiIconButton-root:hover {
  background-color: $black16 !important;
}

// * DIALOG STYLES
.MuiDialog-container {
  .MuiPaper-root {
    border: 1px solid $grey5 !important;
    background: $black15 !important;
  }
}

// * RADIO ICON
.MuiRadio-root {
  color: $grey6 !important;
}
.MuiRadio-root.Mui-checked {
  color: $lightBlue !important;
}

// * MENU ITEM STYLES
.MuiMenuItem-root.Mui-selected,
.MuiMenuItem-root:hover {
  background: $black18 !important;
}
// * FIELD INPUT STYLES
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: $grey5 !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: $lightBlue !important;
}
.MuiOutlinedInput-notchedOutline:hover {
  border-color: $lightBlue !important;
}

.MuiOutlinedInput-root {
  background: $black9 !important;
}

// * AUTOCOMPLETE LIST ON HOVER STYLE
.MuiAutocomplete-popper {
  border: 1px solid $grey5;
  padding: 0 0.4rem !important;
  margin-top: 0.3rem !important;
  background-color: $black13 !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  .MuiCheckbox-root {
    padding: 5px !important;
    margin-left: -8px !important;
  }
}
.MuiAutocomplete-listbox {
  // background: $black9 !important;
  box-shadow: none !important;
  li {
    border-radius: 4px !important;
    padding: 3px 12px !important;
    box-shadow: none !important;
    border: 0 !important;
    // font-size: 20px !important;
  }
  li:hover {
    background: $black18 !important;
  }
  .MuiCheckbox-root {
    // padding-left: 0 !important;
  }
  // .MuiMenuItem-root.Mui-selected {
  //   background: red !important;
  // }
  // .Mui-selected {
  //   background-color: red !important;
  // }
  // .MuiAutocomplete-popper.MuiAutocomplete-option[aria-selected="true"].Mui-focused {
  //   background-color: #4396e6 !important;
  // }

  // Mui-selected MuiMenuItem-root MuiMenuItem-gutters Mui-selected css-1cxn8hw-MuiButtonBase-root-MuiMenuItem-root
  //  MuiMenuItem-root MuiMenuItem-gutters css-1cxn8hw-MuiButtonBase-root-MuiMenuItem-root
  // li[data-focus="true"] {
  //   background: red !important;
  // }
  // .Mui-selected {
  //   background-color: $black16 !important;
  // }
  // .MuiAutocomplete-option.Mui-focused {
  //   background: blue !important;
  // }

  // .MuiAutocomplete-option[data-focus="true"] {
  //   background: blue !important;
  // }
}

// * CHIPS COLORS
.MuiChip-filled {
  background: linear-gradient(
    303.01deg,
    #2f2e69 -4.4%,
    #514969 111.29%
  ) !important;

  // border: 1px solid $grey6 !important;
  .MuiChip-label {
    color: $lightBlue;
  }
  .MuiChip-deleteIcon {
    color: $lightBlue !important;
  }
}

.MuiAutocomplete-endAdornment {
  svg {
    color: $lightBlue !important;
  }
}

.MuiSelect-icon {
  color: $lightBlue !important;
}

.schedule-product {
  .MuiSvgIcon-root {
    color: $lightBlue !important;
  }
}
