@import "./styles/global";

.main-box {
  min-height: 100vh;
  margin-top: 3.4rem;
  // background: radial-gradient(
  //   circle,
  //   rgba(52, 29, 96, 1) 16%,
  //   RGBA(17, 15, 38, 1) 100%
  // );
  background: $black2;
}

.app-sidenav {
  .MuiPaper-root {
    background: $black2 !important;
    border: 0 !important;
  }
}
