@import "./styles/global";

* {
  font-family: "Inter", sans-serif !important;
}

.c-pointer {
  cursor: pointer;
}

.page {
  // height: 8.5rem;
  // padding: 2rem 1.5rem 0 1.5rem;
  // background: $blue1;
  // margin: -24px -36px -48px -36px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // }
}

// .MuiOutlinedInput-notchedOutline {
//   border-color: white !important;
// }
// .MuiFormLabel-root {
//   color: white !important;
// }
// .MuiInputBase-input {
//   color: white !important;
// }
